{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 0,
    "no-control-regex": 0,
    // "sort-keys": [
    //   "error",
    //   "asc",
    //   { "caseSensitive": true, "natural": false, "minKeys": 2 }
    // ],
    "prefer-const": 1
  }
}
